@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-9">F*CK OFF</h1>
    <p>Learn about <a href="https://chat.openai.com"> your best friend <strong>ChatGPT</strong></a>.</p>
</div>

<form method="post">
    <div class="form-group"> 
        <input type="text" asp-for="@Model.TodoItem.Title" placeholder="What needs to be done?"/>
        <input type="text" asp-for="@Model.TodoItem.Description" placeholder="More details?"/>
        <br/>
        <button type="submit" class="btn btn-primary">Add todo</button>
    </div>
</form>

<h3>Todo list</h3>

@if(Model.TodoItems == null)
{
    <p>You have nothing to do.</p>
}

else
{
foreach (var item in Model.TodoItems)
{
    <h2>@item.Title</h2>
    <h4>@item.Description</h4>
}
}





