@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
Borat
    <h1 class="display-4">F*CK OFF</h1>
    <p>Learn about <a href="https://chat.openai.com">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Robin did stuff!!!</p>
main
</div>
